.author-info{
	background-color:#F2F2F2;
	padding:15px;
	margin: 10px auto 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.author-avatar .avatar{
	border-radius: 50%;
	max-width: 96px;
	float: left;
}

.author-description,
.author-heading{
	clear: none;
	margin: 4px 0 4px 112px;
	padding:0;
}

.author-heading{
	margin-bottom: 6px;
}

.author-footer{
	padding-top: 16px;
	clear: both;
	width: 100%;
}

.author-footer:after{
	content:'';
	display: block;
	clear:both;
}

.author-show-all{
	float:right;
}

.author-social{
	float:left;
}

.author-social a{
	text-align: center;
	text-decoration: none;
	background-color: black;
	display: inline-block;
	box-shadow:none!important;
	width: 24px;
	height: 24px;
}

.author-social a i{
	font-size: 16px;
	color:white;
}


.author-social .author-url,
.author-social .author-github{
	background-color:#97BC31;
}

.author-social .author-facebook{
	background-color:#3B5998;
}

.author-social .author-twitter{
	background-color:#7AC9ED;
}

.author-social .author-googleplus{
	background-color:#D64D2F;
}

.author-social .author-linkedin{
	background-color:#1686B0;
}

.author-social .author-pinterest{
	background-color:#CB2027;
}

.author-social .author-youtube{
	background-color:#CB1E22;
}

.author-social .author-instagram{
	background-color:#050707;
}

@media(max-width: 678px){
	.author-description, 
	.author-heading,
	.author-avatar,
	.author-avatar .avatar,
	.author-show-all,
	.author-social{
		float: none;
		width:100%;
		margin: auto;
		text-align: center;
		margin-bottom: 10px;
	}

	.author-description{
		text-align: left;
	}
}
